<div class="form-signin mt-2">
<%= form_tag sessions_path do %>
  <%= image_tag('tuitwhitelogo.png') %>
  <img class="m-4" src="tuitterwhitelogo.png" alt="" width="64" height="64">

  <h2 class="mb-3 font-weight-bold">Sign in</h2>
  <p><%= text_field_tag :username, nil, placeholder: "Username" %></p>
  <p><%= submit_tag "Log in", class: "btn btn-sm btn-primary" %></p>
  <br/>
  <h6 class="mb-3 font-weight-bold">Or sign up to join tuitter</h6>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-sm btn-primary" %></p>
<% end %>
</div>