<%= render 'form' %>

<table class="m-2">
  <tr>
    <th class="text-primary">TUEETS</th>
    <th colspan="2"></th>
  </tr>

  <% @tueets.each do |tueet| %>
    <% u = User.find(tueet.user_id) %>
    <tr class="tuit-body d-block">
      <td>
        <strong class="text-capitalize"><%= u.fullname %>&nbsp;</strong>
        @<%= u.username %> · 
         <small><%= time_ago_in_words(tueet.created_at) %></small>
        <br/>
        <%= tueet.tueet %>
      </td>
    </tr>
  <% end %>
</table>